@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Nunito:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #294a83;
  --large-font: 28px;
  --semilarge-font: 22px;
  --primary-font: 18px;
  --mobile-font: 16px;
  --small-font: 12px;
}

/* HOME PAGE */

body {
  font-size: var(--primary-font);
  line-height: 1.7;
  overflow-x: hidden;
  font-family: 'nunito', sans-serif;
  color: var(--primary-color);
}

@media (max-width: 750px) {
  body {
    font-size: var(--mobile-font);
  }
}

header {
  background-color: var(--primary-color);
  color: white;
  height: 60px;
  display: flex;
  line-height: 1.4;
}
.header-bar {
  width: 86%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-bar .logo {
  color: white;
  text-decoration: none;
  font-weight: 700px;
}

.header-bar .logo span {
  border: 0.6px solid gold;
  padding: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.header-bar .logo:hover {
  color: gold;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 300px;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: gold;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../img/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 99;
}

.menu.active {
  background: var(--primary-color) url(../img/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 750px) {
  .menu {
    display: block;
  }

  .navigation ul {
    display: none;
  }
  .navigation ul.active {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--primary-font);
    z-index: 99;
    animation: nav-bg 0.6s ease;
  }

  @keyframes nav-bg {
    0% {
      left: 750px;
    }
    100% {
      left: 0;
    }
  }

  .navigation ul li {
    margin-bottom: 20px;
  }
}

/* WELCOME */
.welcome {
  background-color: #eee;
  height: 100vh;
  display: flex;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  max-width: 1200px;
  margin: auto;
}

.welcome-img img {
  width: 360px;
  height: 360px;
  margin-bottom: 20px;
  margin-top: -60px;
  border-radius: 50%;
}

.welcome-msg p {
  font-size: var(--semilarge-font);
}

.welcome-msg span {
  font-size: var(--large-font);
  position: relative;
  color: #eee;
  -webkit-text-stroke: 0.1vw white;
  text-transform: uppercase;
}

.welcome-msg span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  -webkit-text-stroke: 0vw white;
  border-right: 2px solid var(--primary-color);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .welcome-img img {
    width: 300px;
    height: 300px;
  }
  .welcome-msg p {
    font-size: var(--primary-font);
  }

  .welcome-msg span {
    font-size: var(--primary-font);
  }
}

@media (max-width: 500px) {
  .welcome-img img {
    width: 280px;
    height: 280px;
    margin-top: -30px;
  }
  .welcome-msg p {
    font-size: var(--mobile-font);
  }
  .welcome-msg span {
    font-size: var(--mobile-font);
    text-transform: none;
  }
}

@media (max-width: 300px) {
  .welcome-img img {
    width: 260px;
    height: 260px;
    margin-top: 40px;
  }
}

/* WORK */

.my-work {
  width: 86%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 60px;
}

.work-category {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn {
  border: none;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: #1e345c;
  color: gold;
}

.work-category .btn:hover {
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.projects a {
  text-decoration: none;
}

.project {
  width: 280px;
  max-width: 280px;
  height: 340px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  transition: all 0.2s ease-in;
}

.project:hover {
  transform: scale(0.96);
}
.project img {
  width: 100%;
  height: 65%;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 5px;
}
.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
}

.project-info .project-name {
  margin: 20px 0;
  color: #172b4d;
}

.project-info .project-tools {
  color: rgb(139, 139, 139);
  margin-bottom: 8px;
  font-size: 16px;
}

#work h3 a {
  color: var(--primary-color);
}

@media (max-width: 1360px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    gap: none;
    place-items: center;
    gap: 16px;
  }
}

@media (max-width: 1000px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 660px) {
  .work h1 {
    font-size: 20px;
  }

  .projects {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/* ABOUT */
.about-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.social-media {
  padding: 20px;
  width: 280px;
  max-width: 280px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.social-media h3 {
  border-bottom: 0.6px solid rgb(224, 223, 223);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.social-media ul li {
  list-style: none;
  margin: 12px 0;
}

.social-media ul li .fab {
  border: 0.6px solid rgb(224, 223, 223);
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
}

.social-media ul li .fab:hover {
  color: gold;
}

@media (max-width: 750px) {
  .about-info {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.main-about {
  width: 86%;
  max-width: 1200px;
  margin: auto;
}

.main-about h1 {
  margin: 40px 0;
}

.about-tools {
  background-color: #eee;
  padding-bottom: 80px;
}

.tools {
  margin-top: 20px;
  overflow: hidden;
  width: 86%;
  max-width: 1200px;
  margin: auto;
}

.tool {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
}

.tool-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool-1.left {
  position: relative;
  animation: tools-left 6s ease-in infinite;
}

@keyframes tools-left {
  0% {
    left: -1000px;
  }
  10% {
    left: 0;
  }
  90% {
    left: 0px;
  }

  100% {
    left: 0px;
  }
}

.tool-1.right {
  position: relative;
  animation: tools-right 6s ease-in infinite;
}

@keyframes tools-right {
  0% {
    right: -900px;
  }
  10% {
    right: 0;
  }
  90% {
    right: 0px;
  }

  100% {
    right: 0px;
  }
}

.tool-img {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: var(--primary-color);
}

.tool-text {
  text-align: center;
  margin-top: 16px;
}

.tool-img .fab {
  padding: 0 30px;
}
.tool-img .fa-database {
  font-size: 36px;
}

@media (max-width: 1100px) {
  .tool {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .tool-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .tool {
    display: grid;
    grid-template-columns: 1fr;
  }

  .tool-1 {
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .tool-img .fab {
    font-size: 40px;
    padding: 0 20px;
  }
}

.methodologies {
  width: 86%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 60px;
}

.methodology {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding: 10px;
}
.methodology-1 h2 {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .methodology {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .methodology {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

/* CONTACT */

.contact-intro {
  width: 86%;
  max-width: 1200px;
  margin: auto;
}
.contact-greybg {
  background-color: rgb(247, 247, 247);
}

.form-alert {
  width: 100%;
  display: none;
  padding: 14px 6px;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
}

.form-alert.success {
  background-color: rgb(122, 243, 122);
  display: block;
  color: #172b4d;
}

.form-alert.failed {
  background-color: rgb(241, 88, 88);
  display: block;
  color: white;
}

.contacts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
  padding-bottom: 60px;
  width: 86%;
  max-width: 1200px;
  margin: auto;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 100%;
  height: 50px;
  border: 0.4px solid rgb(207, 207, 207);
  border-radius: 4px;
  padding-left: 8px;
}

.input-group textarea {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border: 0.4px solid rgb(207, 207, 207);
  padding: 16px 0 0 8px;
}

.input-group input,
textarea:focus {
  outline: none;
}

.submit-btn {
  border: none;
  width: 25%;
  height: 50px;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #1e345c;
  color: gold;
}

.contact-details {
  margin-top: 24px;
}

.contact-details .details {
  border-bottom: 0.4px solid rgb(207, 207, 207);
}

.contact-details .details a {
  text-decoration: none;
  color: #172b4d;
}

@media (max-width: 750px) {
  .contacts {
    grid-template-columns: 1fr;
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  height: 200px;
}

.footer-icons {
  display: flex;
  color: white;
}
.footer-icons a {
  margin: 10px;
  color: white;
  font-size: 30px;
}

.fab:hover {
  color: gold;
}

.footer-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
