@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: rgb(212, 95, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.header-content {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Merienda One', 'cursive';
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: rgb(7, 25, 224);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 84px;
  border-radius: 3px;
  background-color: rgb(255, 251, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}

.header-content h1 {
  font-family: 'Merienda One', 'cursive';
  margin: 20px 0 0 0;
  color: rgb(255, 251, 0);
  text-align: center;
  font-size: 32px;
  padding: 30px 0;
}

.header-content input {
  margin-top: 20px;
  height: 40px;
  border: none;
  padding-left: 4px;
  border-radius: 4px;
  width: 290px;
}

.header-content input:focus {
  outline: none;
}

.header-content p {
  margin: 10px 0 0 0;
  color: white;
  font-size: 18px;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.pokemon-list {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  border: 1px solid rgb(224, 220, 220);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.pokemon-list li {
  list-style: none;
  margin-left: 20px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  display: none;
}

.loading.show-loading {
  display: block;
}

.pokemon-btn {
  padding: 8px 16px;
  margin: 10px 0;
  width: 130px;
  border: none;
  background-color: rgb(212, 95, 48);
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.pokemon-btn:hover {
  background-color: rgb(161, 71, 35);
}

/* MODAL CONTAINER */
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
  display: none;
}

#modal-container.show {
  display: grid;
}

.modal {
  margin: auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  position: relative;
}

.modal .pokemon-img {
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-close:hover {
  cursor: pointer;
}

.modal h1 {
  margin: 10px 0;
  color: rgb(212, 95, 48);
  font-size: 40px;
}

.modal button {
  border: none;
  background-color: transparent;
}

.modal button .fa-window-close {
  font-size: 20px;
  position: absolute;
  top: 24px;
  right: 20px;
}

.pokemon-type,
.pokemon-ability {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-weight {
  margin: 10px 0;
}

.type {
  margin: 10px;
  padding: 6px 10px;
  border-radius: 4px;
}

.type1,
.ability1 {
  background: rgb(74, 230, 74);
}

.type2,
.ability2 {
  background: rgb(247, 84, 84);
  color: white;
}

footer {
  background-color: rgb(212, 95, 48);
  height: 80px;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
